 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background: linear-gradient(135deg, #d0e1ef, #00f2fe); */
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-image: url(img/bg.jpj.avif); */
  
}

.contain {
  background: linear-gradient(to right, #ed12c5, #2782b4);
  width: 350px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.contain h1 {
  text-align: center;
  margin-bottom: 20px;
 
}
.inputs-div {
  /* display: flex; */
}
input{
 width: 100%;
}
#ip-value {
  padding: 5px;
  border-radius:5px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
  font-size: 18px;
  margin: 0px;
}
.add-btn {
  background-color: #4facfe;
  color: white;
  width: 100%;
  margin-top: 10px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

/* .add-btn:hover {
  background-color: #00c6ff;
} */


.list {
  margin-top: 20px;
}

.list p {
  background-color: #f1f1f1;
  padding: 0px 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.list p:hover {
  background-color: #2929b8;
  color: white;
}


.del-btn {
  background-color: red;
  color: white;
  border: none;
  height: auto;
  width: 60px;
  position: relative;
  left: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.del-btn:hover {
  background-color: rgb(135, 23, 23);
}
.completed {
  text-decoration: line-through;
   /* background-color: greenyellow; */
}
